<!-- Menu -->
<div class="menu">
  <ul class="tabs">
    <li class="tmenu"><a href="{% if page.type == 'portfolio' %}/{% endif %}#about" class="tab-about">About</a></li>
    <li class="tmenu"><a href="{% if page.type == 'portfolio' %}/{% endif %}#resume" class="tab-resume">Resume</a></li>
    <li class="tmenu"><a href="{% if page.type == 'portfolio' %}/{% endif %}#portfolio" class="tab-portfolio">Portfolio</a></li>
    <li class="tmenu"><a href="{% if page.type == 'portfolio' %}/{% endif %}#stack" class="tab-stack">Stack</a></li>
  </ul>
</div>
<!-- /Menu -->
