<div class="top">
  <!-- Logo -->
  <div id="logo">
    <h2>GLEN TAKAHASHI</h2>
    <h4>{{ site.data.about.tagline | markdownify }}</h4>
  </div>
  <!-- /Logo -->

  <!-- Social Icons -->
  <ul class="contacticons">
    <li><span class="contact-text">SOCIAL PROFILES</span></li>
    <li><a href="http://www.linkedin.com/in/glentakahashi" class="contact-in" title="Linkedin"></a></li>
    <li><a href="https://github.com/glentakahashi" class="contact-github" title="GitHub"></a></li>
    <li><a href="https://www.facebook.com/takamahashi" class="contact-facebook" title="Facebook"></a></li>
  </ul>
  <!-- /Social Icons -->
</div>
