<div class="top">
  <!-- Logo -->
  <div id="logo">
    <h2>GLEN TAKAHASHI</h2>
    <h4>{{ site.data.jobs[0].employer | markdownify }}</h4>
  </div>
  <!-- /Logo -->

  <!-- Social Icons -->
  <ul class="contacticons">
    <li><span class="contact-text">SOCIAL PROFILES</span></li>
    <li><a href="https://{{ site.data.about.linkedin }}" class="contact-in" title="Linkedin"></a></li>
    <li><a href="https://{{ site.data.about.github }}" class="contact-github" title="GitHub"></a></li>
    <li><a href="https://{{ site.data.about.facebook }}" class="contact-facebook" title="Facebook"></a></li>
  </ul>
  <!-- /Social Icons -->
</div>
