<div class="top">
  <div id="logo">
    <h2>GLEN TAKAHASHI</h2>
    <h4>
      {% if site.data.jobs[0].employerurl %}
        <a href="{{ site.data.jobs[0].employerurl }}">{{ site.data.jobs[0].employer }}</a>
      {% else %}
        {{ site.data.jobs[0].employer }}
      {% endif %}
    </h4>
  </div>

  <ul class="contacticons">
    <li><span class="contact-text">SOCIAL PROFILES</span></li>
    <li><a href="https://{{ site.data.about.linkedin }}" class="contact-in" title="LinkedIn"></a></li>
    <li><a href="https://{{ site.data.about.github }}" class="contact-github" title="GitHub"></a></li>
    <li><a href="https://{{ site.data.about.facebook }}" class="contact-facebook" title="Facebook"></a></li>
  </ul>
</div>
